<form name='cadastroForm' ng-submit='agenda.addSchedule(schedule)' ng-controller='AgendaCtrl as agenda'>
  <div  class="form-group" >
    <label class="control-label" for="paciente">Nome do Paciente</label>
    <input type="text" ng-model="schedule.paciente" class="form-control" id="paciente">

    <label class="control-label" for="medico">Nome do Médico</label>
    <input type="text" ng-model="schedule.medico" class="form-control" id="medico">

    <div>
      <label class="radio-inline">
        <input type="radio" name='servico' value='Consulta' > Consulta
      </label>


      <label class="radio-inline">
        <input type="radio" name='servico' value='Exame' > Exame
      </label>


      <label class="radio-inline">
        <input type="radio" name='servico' value='Retorno' > Retorno
      </label>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

  </div>
</form>
